@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.fsection{
    width: 100%;
    min-height: 100vh;
    background-color:rgb(240, 237, 237);
}
.ghome{
    padding-top: 20px;
    padding-left: 30px;
    color: black;
}
.ghome a:hover{
    background-color: #ef0808;
    color: rgb(255, 254, 254);
}
.story h1{
    text-align: center;
    color: black;
    padding-top: 20px;
    text-transform: uppercase;
    font-size: 48px;
}
.story p{
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 28px;
}