@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.d-flex{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
}
.nav-item{
    font-weight: bold;
}
.section{
    width: 100%;
    min-height: 100vh;
    background-color:#ddd;
    padding-bottom: 50px;
}
.section1{
    width: 100%;
    min-height: 100vh;
    background-color:#ddd
}
.section2{
    width: 100%;
    min-height: 100vh;
    background-color:#ddd
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.container1{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 0px;
}
.container2{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 0px;
}
.content-section{
    float: left;
    width: 55%;
}
.content-section1{
    float: right;
    width: 55%;
}
.content-section2{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section2{
    float: right;
    width: 40%;
}
.image-section1{
    float: left;
    width: 40%;
}
.image-section img{
     width: 100%;
     height: auto;
     padding-top: 10px;
}
.image-section1 img{
    width: 100%;
    height: auto;
}
.image-section2 img{
    width: 100%;
    height: auto;
    padding-top: 10px;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    color: #fd0404;
}
.content-section2 .title2{
    text-transform: uppercase;
    font-size: 28px;
    color: #fd0404;
}
.content-section1 .title1{
    text-transform: uppercase;
    font-size: 28px;
    color: #040cfd;
    font-weight: bold;
}
.content-section .content h3{
    margin-top: 20px;
    color: #0410fd;
    font-size: 21px;
    font-weight: bold;
    padding-right: 80px;
}
.content-section2 .content2 h3{
    margin-top: 20px;
    color: #0410fd;
    font-size: 21px;
    font-weight: bold;
    padding-right: 80px;
}
.content-section1 .content1 h3{
    margin-top: 20px;
    color: #fd04aef8;
    font-size: 21px;
    font-weight: bold;
    padding-right: 80px;
}
.content-section .content p{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section2 .content2 p{
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section1 .content1 p{
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section2 .content2 .button2{
    margin-top: 30px;
}
.content-section1 .content1 .button1{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #332e2e;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section1 .content1 .button1 a{
    background-color: #fcdfdf;
    padding: 12px 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section2 .content2 .button2 a{
    background-color: #12fff7;
    padding: 12px 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: #a52a2a;
    color: #fff;
}
.content-section2 .content2 .button2 a:hover{
    background-color: #a52a2a;
    color: #fff;
}
.content-section1 .content1 .button1 a:hover{
    background-color: #0ef6df;
    color: #fff;
}

footer{
    background: rgb(44, 42, 42);
    height: auto;
    width: 98.8vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    min-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 1;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color 0.4s ease; 
}
.socials a:hover i{
    color: rgb(255, 0, 0);
    padding-left: 8px;
}
.socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
}
.footer-bottom{
    background: rgb(11, 11, 11);
    width: 98.8vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}

@media  screen and (max-width:768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .container1{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .container2{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section1{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section2{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section1{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section2{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section1 .title1{
        text-align: center;
        font-size: 19px;
    }
    .content-section2 .title2{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
       text-align: center;
    }
    .content-section1 .content1 .button1{
        text-align: center;
    }
    .content-section2 .content2 .button2{
        text-align: center;
     }
    .content-section .content .button a{
        padding: 9px 30px ;
    }
    .content-section1 .content1 .button1 a{
        padding: 9px 30px ;
    }
    .content-section2 .content2 .button2 a{
        padding: 9px 30px ;
    }
}