@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.title{
    width: 100%;
    min-height: 100vh;
    background-color:rgb(255, 247, 247);
    
}
.kumar{
    margin: auto;
    padding: 10px;
    color: rgb(235, 11, 11);
}
.me h1{
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    color: rgb(255, 0, 4);
}
.me p{
    padding: 30px;
    color: rgb(52, 2, 70);
}
.Service h1{
    padding: 10px;
    text-align: center;
    color: rgb(255, 0, 4);
}
.Service p{
    padding: 30px;
    color: rgb(0, 0, 0);
}
.Client h1{
    padding: 10px;
    text-align: center;
    color: rgb(255, 0, 4);
}
.Client p{
    padding: 30px;
    color: rgb(4, 0, 5);
}